
.container {
  gap:20px;

}

.card{

  width:300px;
  /* height: 650px; */
  }



  img {
    width:100%;
    height: 200px;
  }

  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .add-product-button {
    border:0;
    background-color: white;
  }

.cart-button {
  background-color: white;
  border: 0;
  position:relative
}

.cart-button span {
  display:flex;
  background-color: red;
  width:20px;
  height:20px;
  justify-content: center;
  align-items: center;
  color:white;
  border-radius: 50%;
  position:fixed;
  top:45px;
  left:17px;
  font-size: 11px;

}

/* position-fixed top-0 end-0 */