

.container {
  gap:20px;

}

.card{

  width:300px;
  /* height: 650px; */
  }



  img {
    width:100%;
    height: 200px;
  }

  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  button {
    border:0;
    background-color: white;
  }

  