* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  padding:25px;
  display: flex;
  position: sticky;
  top:0;
  background-color: hsl(0, 0%, 100%);
  justify-content: center;
  gap: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1030;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
}
